div.comment {
  display: flex;
  margin-bottom: 10px;
}

div.comment:nth-last-of-type(1) {
  margin-bottom: 0;
}

div.comment img.avatar {
  width: 28px;
  height: 28px;

  margin-right: 10px;
}
div.comment div.text {
  background: #eeeeee;
  padding: 10px 15px;
  border-radius: 15px;
}
div.comment div.text span.author-name {
  font-weight: bold;
  margin-right: 5px;
}
