div.post {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding: 20px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  background: #ffffff;
}

div.user {
  display: flex;

  margin-bottom: 15px;
}

div.user div {
  margin-left: 10px;
}

div.user img.avatar {
  max-width: 32px;
  max-height: 32px;
}

div.user p.date {
  color: #9a9a9a;
}

hr {
  margin: 20px 0;
  border-color: #eeeeeead;
  color: #eeeeeead;
}
