header#header {
  background: #7158c1;
  color: #fff !important;
  padding: 0 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

a#logo {
  font-weight: bold;
  font-size: 20pt;
}

span.copyright {
  font-size: 8px;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
