header#header {
  background: #7158c1;
  color: #fff !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  font-size: 15pt;
}

a#logo {
  font-weight: bold;
  font-size: 20pt;
}

span.copyright {
  font-size: 8px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
  height: 64px;
}
